body {
  background: linear-gradient(rgba(191, 122, 48, 1) 0%,
    rgba(191, 122, 48, 0.3) 50%,
    rgba(191, 122, 48, 0.15) 75%,
    rgba(191, 122, 48, 0.075) 87.5%,
    rgba(191, 122, 48, 0.037) 93.75%,
    rgba(191, 122, 48, 0.019) 96.875%,
    rgba(191, 122, 48, 0.000) 100%
);
  width: 100%;
  height: 200%;
}

#playing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 180px;
  height: 260px;
  border-radius: 12px;
  background: white;
  border: 1px solid #333;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.left {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  align-self: center;
}

.right {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  align-self: flex-end;
  transform: rotate(180deg)
}

.bottom {
  transform: rotate(180deg);
}

.red {
  color: red;
}